{% extends 'core/base.html '%}
{% block content %} 
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">INTEREST</h1>
    <div class="row text-center text-white mb-5 ">
        <div class="col-sm-4 ">
            <i class="fa-solid fa-laptop-code fa-2x mb-3 i-color"></i>
            <h3>PROGRAMMING</h3>
            <p class="st-font ss-color">Programming refers to a technological process for telling a computer which tasks to perform in order to solve problems. You can think of programming as a collaboration between humans and computers, in which humans create instructions for a computer to follow (code) in a language computers can understand.</p>

        </div>
        <div class="col-sm-4 ">
            <i class="fa-solid fa-robot fa-2x mb-3 i-color"></i>
            <h3>MACINE LEARNING</h3>
            <p class="st-font ss-color">Machine Learning is a branch of artificial intelligence that develops algorithms by learning the hidden patterns of the datasets used it to make predictions on new similar type data, without being explicitly programmed for each task.</p>

        </div>
        <div class="col-sm-4 ">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>
            <h3>SOFTWARE DEVELOPMENT</h3>
            <p class="st-font ss-color">Software development refers to a set of computer science activities dedicated to the process of creating, designing, deploying and supporting software. Software itself is the set of instructions or programs that tell a computer what to do. It is independent of hardware and makes computers programmable.</p>

        </div>
        </div>

<div class="row text-center text-white mb-5">
        <div class="col-sm-4 ">
            <i class="fa-solid fa-database fa-2x mb-3 i-color"></i>
            <h3>Database</h3>
            <p class="st-font ss-color">A database is an organized collection of data, so that it can be easily accessed and managed.
            </p>

        </div>
        <div class="col-sm-4 ">
            <i class="fa-solid fa-wifi fa-2x mb-3 i-color"></i>
            <h3>Hosting</h3>
            <p class="st-font ss-color">When a hosting provider allocates space on a web server for a website to store its files, they are hosting a website. Web hosting makes the files that comprise a website (code, images, etc.) available for viewing online. Every website you've ever visited is hosted on a server.</p>

        </div>
        
    </div>
  
        
{% endblock content %} 